# Examples of data in columns and how to change columns and/or data types

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate() #start session

c:\users\jared\appdata\local\programs\python\python36\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [3]:
spark

In [4]:
##read the dataset
df_pyspark=spark.read.option('header','true').csv('fake.csv', inferSchema=True) #inferSchema makes sure integers and other data type are not converted to string. must set

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience : integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Departments: string (nullable = true)

In [6]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [7]:
type(df_pyspark.select(['Age', 'Experience]).show()) #select columns, if multiple needed, put in brackets

SyntaxError: EOL while scanning string literal (<ipython-input-7-a893e9b0e5df>, line 1)

In [8]:
df_pyspark.dtypes

[('Name', 'string'),
 ('Age', 'int'),
 ('Experience ', 'int'),
 ('Salary', 'int'),
 ('Departments', 'string')]

In [9]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+--------------+
|summary|  Name|               Age|      Experience |            Salary|   Departments|
+-------+------+------------------+-----------------+------------------+--------------+
|  count|     9|                 9|                9|                 9|             9|
|   mean|  null|27.555555555555557|10.11111111111111|186333.33333333334|          null|
| stddev|  null|11.001262553806166|6.213783960769082|309406.28629683657|          null|
|    min|Amanda|                 4|                1|             35000|Administrative|
|    max| Sidni|                40|               21|           1000000|  Supply Chain|
+-------+------+------------------+-----------------+------------------+--------------+

In [10]:
### Adding Columns in data frame
df_pyspark.withColumn('Departments', df_pyspark['Adventerous'] + 2).show()

AnalysisException: Cannot resolve column name "Adventerous" among (Name, Age, Experience , Salary, Departments)

In [ ]:
### Drop column
df_pyspark= df_pyspark.drop('Adventerous')

In [ ]:
df_pyspark.show()

In [11]:
df_pyspark.withColumnRenamed('Commited', 'Loyal').show()

+--------+---+-----------+-------+--------------+
|    Name|Age|Experience | Salary|   Departments|
+--------+---+-----------+-------+--------------+
|    John| 40|          5|  35000|         Heart|
|  Amanda| 25|          6|  36000|Administrative|
| Pugsley|  4|          1|1000000|        Doctor|
|   Avery| 31|         10|  78000|  Supply Chain|
|Phylicia| 35|         15|  90000|Administrative|
|  Jordan| 31|         16|  87000|         Heart|
| Brendan| 30|         21|  67000|  Supply Chain|
|   Jimmy| 35|          9|  74000|     Logistics|
|   Sidni| 17|          8| 210000|       Stunin'|
+--------+---+-----------+-------+--------------+