### Pyspark Dataframes
    Filter Operation
    &|,==
    ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

c:\users\jared\appdata\local\programs\python\python36\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [5]:
df_pyspark=spark.read.csv('fake.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+-----------+-------+
|    Name|Age|Experience | Salary|
+--------+---+-----------+-------+
|    John| 40|          5|  35000|
|  Amanda| 25|          6|  36000|
| Pugsley|  4|          1|1000000|
|   Avery| 31|         10|  78000|
|Phylicia| 35|         15|  90000|
|  Jordan| 31|         16|  87000|
| Brendan| 30|         21|  67000|
|   Jimmy| 35|          9|  74000|
|   Sidni| 17|          8| 210000|
+--------+---+-----------+-------+

Filter Operations

In [9]:
### Salary of the people who make less than or equal to 50000
df_pyspark.filter("Salary<=50000").show()

+------+---+-----------+------+
|  Name|Age|Experience |Salary|
+------+---+-----------+------+
|  John| 40|          5| 35000|
|Amanda| 25|          6| 36000|
+------+---+-----------+------+

In [10]:
df_pyspark.filter("Salary<=50000").select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
|  John| 40|
|Amanda| 25|
+------+---+

In [11]:
df_pyspark.filter(df_pyspark['Salary']<=50000).show() #similar queries same result

+------+---+-----------+------+
|  Name|Age|Experience |Salary|
+------+---+-----------+------+
|  John| 40|          5| 35000|
|Amanda| 25|          6| 36000|
+------+---+-----------+------+

In [16]:
df_pyspark.filter((df_pyspark['Salary']<=70000) & (df_pyspark['Salary']>=10000)).show()

+-------+---+-----------+------+
|   Name|Age|Experience |Salary|
+-------+---+-----------+------+
|   John| 40|          5| 35000|
| Amanda| 25|          6| 36000|
|Brendan| 30|         21| 67000|
+-------+---+-----------+------+

In [18]:
df_pyspark.filter(~(df_pyspark['Salary']<=50000)).show() # Tilda ~ is a not operation

+--------+---+-----------+-------+
|    Name|Age|Experience | Salary|
+--------+---+-----------+-------+
| Pugsley|  4|          1|1000000|
|   Avery| 31|         10|  78000|
|Phylicia| 35|         15|  90000|
|  Jordan| 31|         16|  87000|
| Brendan| 30|         21|  67000|
|   Jimmy| 35|          9|  74000|
|   Sidni| 17|          8| 210000|
+--------+---+-----------+-------+