In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dataframe').getOrCreate()

c:\users\jared\appdata\local\programs\python\python36\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [2]:
df_pyspark=spark.read.csv('fake.csv', header=True,inferSchema=True)

In [3]:
df_pyspark.show()

+--------+---+-----------+-------+--------------+
|    Name|Age|Experience | Salary|   Departments|
+--------+---+-----------+-------+--------------+
|    John| 40|          5|  35000|         Heart|
|  Amanda| 25|          6|  36000|Administrative|
| Pugsley|  4|          1|1000000|        Doctor|
|   Avery| 31|         10|  78000|  Supply Chain|
|Phylicia| 35|         15|  90000|Administrative|
|  Jordan| 31|         16|  87000|         Heart|
| Brendan| 30|         21|  67000|  Supply Chain|
|   Jimmy| 35|          9|  74000|     Logistics|
|   Sidni| 17|          8| 210000|       Stunin'|
+--------+---+-----------+-------+--------------+

In [4]:
df_pyspark.na.drop().show() ## na.drop() removes all rows that are non-values

+--------+---+-----------+-------+--------------+
|    Name|Age|Experience | Salary|   Departments|
+--------+---+-----------+-------+--------------+
|    John| 40|          5|  35000|         Heart|
|  Amanda| 25|          6|  36000|Administrative|
| Pugsley|  4|          1|1000000|        Doctor|
|   Avery| 31|         10|  78000|  Supply Chain|
|Phylicia| 35|         15|  90000|Administrative|
|  Jordan| 31|         16|  87000|         Heart|
| Brendan| 30|         21|  67000|  Supply Chain|
|   Jimmy| 35|          9|  74000|     Logistics|
|   Sidni| 17|          8| 210000|       Stunin'|
+--------+---+-----------+-------+--------------+

In [5]:
### any==how
df_pyspark.na.drop(how="all").show()  #all will delete everything, any is specific (how="any")

+--------+---+-----------+-------+--------------+
|    Name|Age|Experience | Salary|   Departments|
+--------+---+-----------+-------+--------------+
|    John| 40|          5|  35000|         Heart|
|  Amanda| 25|          6|  36000|Administrative|
| Pugsley|  4|          1|1000000|        Doctor|
|   Avery| 31|         10|  78000|  Supply Chain|
|Phylicia| 35|         15|  90000|Administrative|
|  Jordan| 31|         16|  87000|         Heart|
| Brendan| 30|         21|  67000|  Supply Chain|
|   Jimmy| 35|          9|  74000|     Logistics|
|   Sidni| 17|          8| 210000|       Stunin'|
+--------+---+-----------+-------+--------------+

In [6]:
##threshold
df_pyspark.na.drop(how="any",thresh=2).show()

+--------+---+-----------+-------+--------------+
|    Name|Age|Experience | Salary|   Departments|
+--------+---+-----------+-------+--------------+
|    John| 40|          5|  35000|         Heart|
|  Amanda| 25|          6|  36000|Administrative|
| Pugsley|  4|          1|1000000|        Doctor|
|   Avery| 31|         10|  78000|  Supply Chain|
|Phylicia| 35|         15|  90000|Administrative|
|  Jordan| 31|         16|  87000|         Heart|
| Brendan| 30|         21|  67000|  Supply Chain|
|   Jimmy| 35|          9|  74000|     Logistics|
|   Sidni| 17|          8| 210000|       Stunin'|
+--------+---+-----------+-------+--------------+

In [8]:
## Subset
df_pyspark.na.drop(how="any", subset=['Departments']).show #drop values from a specific column

In [9]:
### Fill in with missing value
df_pyspark.na.fill('MissingValues').show #It'll put whatever you want there. Can also add ,[Columnname] to be specific with subset

In [10]:
df_pyspark.show()

+--------+---+-----------+-------+--------------+
|    Name|Age|Experience | Salary|   Departments|
+--------+---+-----------+-------+--------------+
|    John| 40|          5|  35000|         Heart|
|  Amanda| 25|          6|  36000|Administrative|
| Pugsley|  4|          1|1000000|        Doctor|
|   Avery| 31|         10|  78000|  Supply Chain|
|Phylicia| 35|         15|  90000|Administrative|
|  Jordan| 31|         16|  87000|         Heart|
| Brendan| 30|         21|  67000|  Supply Chain|
|   Jimmy| 35|          9|  74000|     Logistics|
|   Sidni| 17|          8| 210000|       Stunin'|
+--------+---+-----------+-------+--------------+

In [ ]:
#from pyspark.ml.feature import Imputer

#imputer = Imputer(
    #inputCols=['age','Experience', 'Salary'],
    #outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    #).setStrategy('mean')
    
#function above will give mean value for null items. 

# To Add imputation cols to df
#imputer.fit(df_pyspark).transform(df_pyspark).show()